#block-hyperluminal-content {
  .field--name-body {
    max-width: 750px;
    margin: 0 auto;
  }
}

i {
  font-size: 48px;
  &::before {
    color: $purple !important;
  }
  &::after {
    color: $purple-400 !important;
  }
}

#services {
  text-align: center;

  svg {
    height: 48px;
    width: auto;
    color: $purple;
  }
}

#about-photo {
  img {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    border-radius: 150px;
    padding: 10px;
    border: 10px solid $info;
  }
}